<div id="myCarousel" class="carousel carousel-dark slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item1 carousel-item active">
      <div class="container">
        <div class="carousel-caption text-start">
          <div class="carousel-text">
            <h1>My Hobby: Photography</h1>
            <p class="opacity-75">I always loved catching the beauty of the moment</p>
          </div>
          <button class="carousel-button btn btn-lg btn-primary" href="#">Tap to admire</button>
        </div>
      </div>
    </div>
    <div class="carousel-item2 carousel-item">
      <div class="container">
        <div class="carousel-caption">
          <div style="display: flex; justify-content: center">
            <div class="carousel-text">
              <h1>Another example headline.</h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
            </div>
          </div>
          <button class="carousel-button btn btn-lg btn-primary" href="#">Learn more</button>
        </div>
      </div>
    </div>
    <div class="carousel-item3 carousel-item">
      <div class="container">
        <div class="carousel-caption text-end">
          <div style="display: flex; justify-content: end">
            <div class="carousel-text">
              <h1>One more for good measure.</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
            </div>
          </div>
          <button class="carousel-button btn btn-lg btn-primary" href="#">Learn more</button>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="filter: none !important;" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="filter: none !important;" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
