.carousel-item1 {
  background-image: url('./assets/images/canada.jpg');
}

.carousel-item2 {
  background-image: url('./assets/images/jungle.jpg');
}

.carousel-item3 {
  background-image: url('./assets/images/forest.jpg');
}

.carousel-text {
  width: fit-content;
  padding: 30px;
  margin-bottom: 20px;
  background-color: rgba(33, 37, 41, 0.8);
  color: #dee2e6;
  border-radius: 50px;
  z-index: 10;
}

.carousel-button {
  border-radius: 50px;
  z-index: 10;
}

